{% extends "jinja.html" %} {% block title %}Student Task Manager{% endblock %} {% block content 
    %}
    <body>
        <div align="right">
            <div class="container">
            <div class="left">
                <div class="calendar">
                    <div class="month">
                        <i class="fa fa-angle-left prev"></i>
                        <div class="date"></div>
                        <i class="fa fa-angle-right next"></i>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days"></div>
                </div>
            </div>
        </div>
        <div class="add-event-wrapper">
            <div class="add-event-header">
              <div class="title">Add Note</div>
              <i class="fas fa-times close"></i>
            </div>
            <div class="add-event-body">
              <div class="add-event-input">
                <input type="text" placeholder="Event Name" class="event-name" />
              </div>
            </div>
            <div class="add-event-footer">
              <button class="add-event-btn">Add Note</button>
            </div>
          </div>
        </div>
        <button class="add-event">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
        <script>
        const calendar = document.querySelector(".calendar"),
            date = document.querySelector(".date"),
            daysContainer = document.querySelector(".days"),
            prev = document.querySelector(".prev");
                next = document.querySelector(".next");
    
        let today = new Date();
        let activeDay;
        let month = today.getMonth();
        let year = today.getFullYear();
    
        const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
        ];
        function initCalendar() {
            const firstDay = new Date(year, month, 1);
            const lastDay = new Date(year, month + 1, 0);
            const prevLastDay = new Date(year, month, 0);
            const prevDays = prevLastDay.getDate();
            const lastDate = lastDay.getDate();
            const day = firstDay.getDay();
            const nextDays = 7 - lastDay.getDay() - 1;  
            
            date.innerHTML = months[month] + " " + year;
            let days = "";
            for (let x = day; x > 0; x--) {
                days += `<div class="day prev-date">${prevDays - x + 1}</div>`;
            }
            for (let i = 1; i <= lastDate; i++) {
                if (i === new Date().getDate() && year === new Date().getFullYear() && month === new Date().getMonth()) {
                  days += `<div class="day today" >${i}</div>`;
                }
                else {
                    days += `<div class="day ">${i}</div>`;
                }
            }
            for (let j = 1; j <= nextDays; j++) {
                days += `<div class="day next-date ">${j}</div>`;
            }
            daysContainer.innerHTML = days;
            addListener();
        }
    
    
        function prevMonth() {
            month--;
            if (month < 0) {
                month = 11;
                year--;
            }
            initCalendar();
        }
    
        function nextMonth() {
            month++;
            if (month > 11) {
                month = 0;
                year++;
            }
            initCalendar();
        }
    
        prev.addEventListener("click", prevMonth);
        next.addEventListener("click", nextMonth);
    
        initCalendar();
    
        function addListener() {
            const days = document.querySelectorAll(".day");
            days.forEach((day) => {
                day.addEventListener("click"), (e) => {
                    activeDay = Number(e.target.innerHTML);
    
                    getActiveDay(e.target.innerHTML);
    
                    days.forEach((day) => {
                        day.classList.remove("active");
                    });
    
                    if (e.target.classList.contains("prev-date")) {
                        prevMonth();
    
                        setTimeout(() => {
                            const days = document.querySelectorAll(".day");
    
                            days.forEach((day) => {
                                if (
                                    !day.classList.contains("prev-date") &&
                                    day.innerHTML === e.target.innerHTML
                                ) {
                                    day.classList.add("active");
                                }
                            });
                        }, 100);
                    } else if (e.target.classList.contains("next-date")) {
                        nextMonth();
    
                        setTimeout(() => {
                            const days = document.querySelectorAll(".day");
    
                            days.forEach((day) => {
                                if (
                                    !day.classList.contains("next-date") &&
                                    day.innerHTML === e.target.innerHTML
                                ) {
                                    day.classList.add("active");
                                }
                            });
                        }, 100);
                    } else {
                        e.target.classList.add("active");
                    }
    
                };
            });
        }
        </script>
    
        <style>
            :root {
                --primary-clr: #191e3a;
            }
            
            .calendar {
                position: relative;
                right: 600px;
                top: 40px;
                width: 40%;
                height: 100%;
                color: #878895;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                border-radius: 5px;
                background-color: #fff;
            }
            .calendar .month .prev,
            .calendar .month .next {
            cursor: pointer;
            }
            .calendar .weekdays {
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
            }
            .calendar .weekdays div {
                width: 14%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .calendar .days {
                width: 100%;
                font-size: 1rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 20px;
            }
            .calendar .days .day {
                width: 14%;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .calendar .month {
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 50px;
            }
            .calendar .day:not(.prev-date, .next-date):hover {
                color:#fff;
                background-color:#182d4f;
            }
            .calendar .days .prev-date,
            .calendar .days .next-date {
                color: #b6b6b6
            }
            .calendar .days .active {
                position: relative;
                font-size: 2rem;
                color: #fff;
                background-color: #182d4f;
            }
            .calendar .days .active::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 10px 2px var(--primary-clr);
            }
            .calendar .days .event {
                position: relative;
            }
            .calendar .days .event::after {
                content: "";
                position: absolute;
                bottom: 10%;
                left: 50%;
                width: 75%;
                height: 6px;
                border-radius: 30px;
                transform: translateX(-50%);
                background-color: #182d4f;
            }
    
    
            .add-event-wrapper.active {
                max-height: 300px;
            }
    
            .add-event-wrapper {
                position: absolute;
                bottom: 100px;
                left: 50%;
                width: 90%;
                overflow: hidden;
                border-radius: 5px;
                background-color: #fff;
                transform: translateX(-50%);
                transition: max-height 0.5s ease;
                max-height: 0px;
            }
    
            .add-event-header {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
                color: #373c4f;
                border-bottom: 1px solid #f5f5f5;
            }
    
            .add-event-header .close {
                font-size: 1.5rem;
                cursor: pointer;
            }
    
            .add-event-header .close:hover {
                color: #191e3a;
            }
    
            .add-event-header .title {
                font-size: 1.2rem;
                font-weight: 500;
            }
    
            .add-event-body {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 20px;
            }
    
            .add-event-body .add-event-input {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }
    
            .add-event-body .add-event-input input {
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                border-bottom: 1px solid #f5f5f5;
                padding: 0 10px;
                font-size: 1rem;
                font-weight: 400;
                color: #373c4f;
            }
    
            .add-event-body .add-event-input input::placeholder {
                color: #a5a5a5;
            }
            
            .add-event-body .add-event-input input:focus {
                border-bottom: 1px solid #191e3a;
            }
    
            .add-event-body .add-event-input input:focus::placeholder {
                color: #191e3a;
            }
    
            .add-event-footer {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
            }
    
            .add-event-btn {
                height: 40px;
                font-size: 1rem;
                font-weight: 500;
                outline: none;
                border: none;
                color: white;
                background-color: #191e3a;
                border-radius: 5px;
                cursor: pointer;
                padding: 5px 10px;
                border: 1px solid #191e3a;
            }
    
            .add-event-btn:hover {
                color: #191e3a;
                background-color: transparent;
            }
    
            .add-event {
                position: absolute;
                bottom: 30px;
                right: 30px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                color: black;
                border: 2px solid black;
                opacity: 0.5;
                background-color: transparent;
                cursor: pointer;
                border-radius: 50%;
            }
    
            .add-event:hover {
                opacity: 1;
            }
    
            .add-event i {
                pointer-events: none;
            }
        </style>
    </body>
    {% endblock %}