{% extends "homepage.html" %} {% block title %} Login page {% endblock %} {% block content %}
<form method="POST">
    <br /><br />
        <h1 align="center">Login</h1>

        <style>
            h1 {
                color: white;
            }

            .loginBox input {
                width: 40%;
                height: 40%;
                background: transparent;
                border: none;
                outline: none;
                border: 2px solid rgba(255, 255, 255, .2);
                border-radius: 40px;
                color: white;
                padding: 10px 10px;
            }

            .loginBox input::placeholder {
                color: white;
            }

        </style>

        <br /><br />
        <div class="loginBox">
            <center>
            <input 
                type="email"
                class="loginFill"
                id="email"
                name="email"
                placeholder="Email"
                size="25"
            />
            </center>
        </div>
        <br /><br />
        <div class="loginBox">
            <center>
            <input
                type="password"
                class="loginFill"
                id="password"
                name="password"
                placeholder="Password"
                size="25"
            />
            </center>
        </div>
        <br />
        <center>
        <button type="Login" class="btn btn-primary">Login</button>
        </center>
    </div>
</form>
{% endblock %}